* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 18px;
  line-height: 24px;
  color: #285453;
  font-family: 'PT Sans', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-me {
  padding: 0px 0 50px;
  margin-bottom: 70px;
 }
.about-me__top {
  background: rgb(255,255,255);
  background: linear-gradient(77deg, rgba(255,255,255,1) 0%, rgb(100 174 237) 0%, rgb(176 255 79) 100%, rgba(255,255,255,1) 100%); 
  padding-top: 7vh;
}
@media (max-width: 768px) {
  .about-me {
    margin-bottom: 50px;
  }
}

@media (max-width: 540px) {
  .about-me {
    margin-bottom: 30px;
  }
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-top: 45px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .about-me__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.about-me__img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: 0 auto 75px;
  overflow: hidden;
  position: relative;
  bottom: -75px;
  box-shadow: 1px 1px 10px grey;
}

.about-me__img {
  width: 100%;
  margin: 0;
}

.about-me__title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .about-me__title {
    font-size: 32px;
    line-height: 38px;
  }
}

.about-me__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}
.about-me__box {
  margin-bottom: 20px;
}

.about-me__box-title {
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}

.about-me__contact {
  box-shadow: 1px 1px 10px #e1e1e1;
  padding: 10px 20px;
  border-radius: 3px;
}
@media (max-width: 810px) {
  .about-me__contact {
    display: none;
  }
}

.projects {
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .projects {
    margin-bottom: 50px;
  }
}

@media (max-width: 540px) {
  .projects {
    margin-bottom: 30px;
  }
}

.projects__title {
  margin-bottom: 30px;
}

@media (max-width: 540px) {
  .projects__title {
    margin-bottom: 20px;
  }
}

.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .projects__box {
    gap: 20px 4%;
  }
}

.projects__item {
  display: block;
  width: 30%;
  border: 1px solid #28545354;
  padding: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 768px) {
  .projects__item {
    width: 47%;
  }
}

@media (max-width: 420px) {
  .projects__item {
    width: 100%;
  }
}

.projects__item:hover {
  -webkit-box-shadow: 2px 2px 12px #c9c9c9;
          box-shadow: 2px 2px 12px #c9c9c9;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.projects__img {
  width: 100%;
  margin-bottom: 10px;
}

.footer {
  padding: 20px 0;
  background-color: #070f15;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 580px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.posts{
	display: none;
}
.footer a {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */