h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-size: 18px;
    line-height: 24px;
    color: #285453;
    font-family: 'PT Sans', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.about-me{
    margin: 50px 0 100px;
    &__inner{
        display: flex;
        gap: 50px;
    }
    &__img{
        width: 500px;
    }
    &__title{
        font-size: 40px;
        line-height: 46px;
        letter-spacing: 1px;
    }
    &__subtitle{
        margin-bottom: 20px;
        font-weight: bold;
        letter-spacing: 1.4px;
    }
}
.projects{
    margin-bottom: 50px;
    &__title{
        margin-bottom: 20px;
    }
    &__box{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    &__item{
        display: block;
        width: 240px;
        border: 1px solid #28545354;
        padding: 10px;
        transition: all .5s;
        &:hover{
            box-shadow: 2px 2px 12px #285453;
            transform: scale(1.05);
        }
    }
    &__img{
        width: 100%;
        margin-bottom: 10px;
    }

}
.footer{
    padding: 20px 0;
    background-color: #285453;
    &__inner{
        display: flex;
        gap: 20px 100px;
        justify-content: center;
    }
    a{
        color: #fff; 
    }
}